@import "theme";

.header {
  .header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: $container-width;
    padding: 1rem;
    margin: auto;
  }

  .header__search-input {
    width: 50%;
    max-width: 30rem;
  }

  .file-input__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 1rem 1rem;
    min-width: 20rem;

    p {
      color: $light-gray;
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $purple;
      color: white;
      border: 1px solid transparent;
      border-radius: 2rem;
      padding: 0 1.5rem .125rem;
      margin-left: 1rem;
      height: 3rem;
      outline: none;
      cursor: pointer;
      font-size: 16px;
      transition: background .2s;

      &:hover {
        background: $dark-purple;
      }
    }

    .file-input {
      opacity: 0;
      position: absolute;
      z-index: -1;
    }
  }

  @media screen and (max-width: 55rem) {
    .header__container {
      flex-direction: column-reverse;

      .header__search-input {
        width: 100%;
      }

      .file-input__container {
        flex-direction: column-reverse;
        width: 100%;
        margin: 0 0 .5rem;

        p {
          margin-top: .5rem;
        }

        label {
          width: calc(100% - 3rem);
          max-width: 20rem;
        }
      }
    }
  }

}
