$purple: #5741d9;
$dark-purple: #41309e;
$light-gray: #cccccc;
$container-width: 960px;

html, button, input {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

body {
  transform: scale(1);
}

input[type=text] {
  font-size: 18px;
  padding: .5rem;
  border: solid 1px $light-gray;
  border-radius: 3px;
  outline: none;
  transition: border .2s;

  &:focus {
    border: solid 1px $purple;
  }
}
