@import "theme";

.upload-list {

  .upload-list-header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;

    h1 {
      color: $purple;
      margin-right: 1rem;
    }
  }

  .upload-list-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(200px, auto);
  }

  @media screen and (max-width: 55rem) {
    .upload-list-header {
      margin-top: 1rem;

      h1 {
        color: $purple;
        margin: 0 1rem 0 0;
      }
    }

    .upload-list-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 35rem) {
    .upload-list-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
