.upload-item {
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;

  .upload-item__detail {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    background: rgba(0,0,0,.3);
    color: white;
    word-break: break-all;
  }
}
